<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Legion</title>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/sass/stylesheet.min.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/6.4.5/css/flag-icons.css">
	<script src="https://www.paypal.com/sdk/js?client-id=AUDgLsc_jchOZybCF8YvqOzr8wqmHdIllszpe3KOj9R537_3weoiUPsgF-BFb2kvEo-QqlTzt_Emq9ah"></script>
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="~/css/magnific-popup.css" asp-append-version="true">

	<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	<!-- Magnific Popup core JS file -->
	<script src="~/js/jquery.magnific-popup.js"></script>
	<script>
		paypal.Buttons({

			style: {
				layout: 'horizontal',
				color: 'gold',
				shape: 'pill',
				label: 'paypal'
			},
			createOrder: function(data, actions) {
				var getSelectedValue = document.querySelector('input[name="paypal-amount"]');
				if (getSelectedValue.value == 0 || "") {
					alert("Minimum value $1");
				} else {
					return actions.order.create({
						purchase_units: [{
							amount: {
								value: getSelectedValue.value
							}
						}]
					});
				}
			}
		}).render('#paypal-button-container');
	</script>
</head>
<body>
	<header>
		<partial name="_Navbar" />
	</header>
	<div class="container">
		<main role="main" class="pb-3">

			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2022 - Legion-Foundation.org

		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
