@{
	ViewData["Title"] = "Про нас";

}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Про Нас</h4>
		<div class="card-text">
			<p>Благодійний фонд «Легіон» засновано наприкінці квітня 2022 року у Києві. Діяльність фонду направлена на матеріально-технічну підтримку ЗСУ та інших підрозділів, що беруть участь у бойових діях захищаючи цивільне населення, мирні міста та суверенітет України. Фонд не постачає зброю!</p>
			<p>Ми надаємо звітність у формі відео та фотоматеріалів, документів та актів передачі.</p>
			<p>З лютого 2022 року, коли російська армія розпочала повномасштабне вторгнення на територію України весь світ зрозумів, що Росія вбиває цивільних людей та дітей. Зупинити окупантів можуть лише українські захисники, які потребують підтримки. Українські воїни вже продемонстрували свою мужність, стійкість та професіоналізм в бойових діях, чим завоювали авторитет в усьому світі.</p>
			<p>Західні партнери допомагають нам перемагати на дипломатичному, економічному та воєнному фронтах, проте наші захисники все ще мають потреби у матеріально-технічному забезпеченні. Ми тримаємо постійний зв'язок з українськими військовими, тому можемо швидко реагувати та задовольняти їхні потреби. Волонтери благодійного фонду «Легіон» за допомогою ваших донатів, можуть бути надійним тилом для наших захисників.</p>
			<h5><b><u>Допомагаючи нам ви рятуєте життя українських військових. На них чекають вдома!</u></b></h5>
		</div>
	</div>
</div>
