@{
    ViewData["Title"] = "Контакти";
}

<div>
    <h4>Контакти</h4>
    <p><b>Гаряча лінія:</b> +380960177075</p>
    <p><b>e-mail:</b> legion.charity@gmail.com</p>
    <p><b>Адреса:</b> Київ, Проспект Перемоги 45 Абонентська скринька: 03142, Київ-142, а/с 28</p>
    <p><b>Ми в соцмережах</b></p>
    <p>Facebook Instagram Twitter</p>
</div>
