@{
	ViewData["Title"] = "Фінансова";
}

<div>
	<h4>БЛАГОДІЙНА ОРГАНІЗАЦІЯ «БЛАГОДІЙНИЙ ФОНД «ЛЕГІОН»</h4>
	<p>Поштова адреса: 03142, Київ-142, а/с 28;</p>
	<p>e-mail: legion.charity@gmail.com:</p>
	<h5><b>Увага! Обов’язково вказуйте назву організації та призначення платежу</b></h5>
	<p>Призначення платежу: <b>Благодійний внесок</b></p>
	<p>Назва підприємства: <b>Благодійна організація «Благодійний фонд «Легіон» або БО «БФ «Легіон»</b></p>
	<p><u>Гривня</u></p>
	<p>UAH     Найменування організації/Сompany Name:</p>
	<p>БО «БФ «ЛЕГІОН» СО «CF «LEGION»</p>
	<p>ЄДРПОУ: 44899188 / ID Code: 44899188</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>Назва банку/Name of the bank:</p>
	<p>ПЕРШИЙ УКРАЇНСЬКИЙ МІЖНАРОДНИЙ БАНК (ПУМБ) ул. Андріївська 4, Киев, 04070, Украина</p>
	<p>FIRST UKRAINIAN INTERNATIONAL BANK, 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p><u>SWIFT перекази</u></p>
	<p>EUR     Сompany Name: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Name of the bank:</p>
	<p>FIRST UKRAINIAN INTERNATIONAL BANK 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Correspondent banks</p>
	<ul>
		<li>Commerzbank AG, Kaiserplatz, 60261, Frankfurt am Main, Germany SWIFT: COBADEFF</li>
		<li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030,Vienna, Austria SWIFT: RZBAATWW</li>
		<li>Landesbank Baden-Wurttemberg Germany, D-70173, Stuttgart, Am Hauptbahnhof, 2 SWIFT: SOLADEST</li>
	</ul>
	<p>USD     Сompany Name: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Name of the bank:</p>
	<p>FIRST UKRAINIAN INTERNATIONAL BANK 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Correspondent banks</p>
	<ul>
		<li>JPMorgan Chase Bank N.A.* 270 Park Avenue, NY 10017, New York, United States SWIFT: CHASUS33</li>
		<li>The Bank of New York Mellon 240 Greenwich Street, New York, NY 10286, United States SWIFT: IRVTUS3N</li>
	</ul>
	<p>GBP     Сompany Name: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Name of the bank:</p>
	<p>FIRST UKRAINIAN INTERNATIONAL BANK 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Correspondent banks</p>
	<ul>
		<li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030, Vienna, Austria SWIFT: RZBAATWW</li>
	</ul>
	<p>PayPal</p>
	<p>stepenkopaypal@gmail.com</p>
</div>