@{
    ViewData["Title"] = "Потреби";
}

<div>
    <h4>Постійні потреби для ЗСУ</h4>
    <p>Ще один спосіб допомоги – самостійно придбати оснащення для армії та переслати його фонду. Технічне оснащення, засоби індивідуального захисту та медикаменти будуть відправлені до військових частин відповідно до заявок.</p>
    <p>Посилку можна відправити на наш склад. Перед відправкою зв’яжіться з нами за номером: +380960177075 або напишіть листа на e-mail: legion.charity@gmail.com</p>
    <ul>
        <li>Аптечка IFAK II</li>
        <li>Медичні тактичні сумки (укомплектовані)</li>
        <li>Тактичні ботинки типу Lowa (сезонні, середньої висоти - 6″)</li>
        <li>Комплекти тактичної форми (непромокаючі куртка + штани) ECWCS GEN III Level 6 PACLITE</li>
        <li>Рукавички тактичні( 5.11, Mechanix, Blackhawk, Helikon, Oakey)</li>
        <li>Пояс тактичний</li>
        <li>Окуляри тактичні</li>
        <li>Рації з гарнітурною</li>
        <li>Ремінно-пояснична система з молями (розгрузка)</li>
        <li>Бронежилет 4, 5 клас захисту на молях (NIJ III+)</li>
        <li>Шолом балістичний з ЧОХЛОМ (FAST)</li>
        <li>Навушники активні</li>
        <li>Ліхтарі (з підзарядкою)</li>
        <li>Тепловізори типу (ARCHER ТМА30М/55М) або аналог: (виявлення 1700м+, розпізнавання 430м+, ідентифікація 215м+)</li>
        <li>Перископи тактичні UZI 5x20 CR</li>
        <li>Дрони: AUTEL EVO II PRO; камера Yunecc E30Z; AUTEL EVO II DUAL RUGGED BUNDLE (640T) V2; Walkera Voyager 5</li>
        <li>Повербанк для телефона</li>
        <li>Повербанк для ноутбука</li>
        <li>Рюкзак</li>
        <li>Сухпайки армійські сублімовані</li>
        <li>Наколінники</li>
        <li>Налокітники</li>
    </ul>
    <img src="https://legion-foundation.org/img/supply.jpeg" class="img-fluid" />
</div>
