@{
    ViewData["Title"] = "Команда";
}

<div>
    <h4>Наша команда</h4>
    <h5>Засновники фонду</h5>
    <p>Керівник проекту - Микола Степенко</p>
    <p>Директор Фонду - Олександр Нікіфоров</p>
    <h5>Учасники</h5>
    <ul>
        <li>Волонтер-консультант - Юрій Кондратьєв</li>
        <li>Менеджер з медіакомунікацій - Анна Мельниченко</li>
        <li>Менеджер по англомовних країнах - Аделіна Сахарова</li>
        <li>Менеджер по франкомовних країнах - Вікторія Азарова</li>
    </ul>
</div>













