@{
    ViewData["Title"] = "Авто";
}

<div>
    <h4>Автомобілі для армії</h4>
    <p>Наразі запит на транспорт для військових потреб значно перевищує можливості державного забезпечення.</p>
    <p>Автомобілі:</p>
    <ul>
        <li>підвищують мобільність військ</li>
        <li>покращують логістичні можливості підрозділів</li>
        <li>рятують життя воїнів</li>
    </ul>
    <p>Армії потрібні дизельні пікапи, позашляховики, мікроавтобуси та інші види автомобілів. За ваші внески Благодійний фонд «Легіон» придбає необхідний транспорт для Збройних Сил України.</p>
    <img src="https://legion-foundation.org/img/auto.jpeg" class="img-fluid" />
    <h5><b><u>Навіть невеликі внески можуть врятувати життя</u></b></h5>
</div>
