@{
    ViewData["Title"] = "Contact Us";
}

<div>
    <h4>Contact us</h4>
    <p><b>Phone:</b> +380960177075</p>
    <p><b>e-mail:</b> legion.charity@gmail.com</p>
    <p><b>Address:</b> Kyiv, 45 Peremohy Avenue Subscriber box: 03142, Kyiv-142, post office 28</p>
    <p><b>We are on social media:</b></p>
    <p>Facebook Instagram Twitter</p>
</div>
