@{
	ViewData["Title"] = "Finance aid";
}

<div>
	<h4>CHARITABLE ORGANIZATION «CHARITY FOUNDATION «LEGION»</h4>
	<p>Postal address: 03142 Kyiv -142, box 28 / Поштова адреса: 03142, Київ-142, а/с 28;</p>
	<p>e-mail: legion.charity@gmail.com:</p>
	<h5><b>Attention! Be sure to include the name of the organization and the purpose of the payment</b></h5>
	<p>Purpose of payment: <b>Charitable donation</b></p>
	<p>Company Name: <b>CHARITABLE ORGANIZATION: «CHARITY FOUNDATION «LEGION» or CO “CF “Legion”</b></p>
	<p><u>SWIFT transfers</u></p>
	<p>EUR     Сompany Name: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Name of the bank:</p>
	<p>FIRST UKRAINIAN INTERNATIONAL BANK 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Correspondent banks</p>
	<ul>
		<li>Commerzbank AG, Kaiserplatz, 60261, Frankfurt am Main, Germany SWIFT: COBADEFF</li>
		<li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030,Vienna, Austria SWIFT: RZBAATWW</li>
		<li>Landesbank Baden-Wurttemberg Germany, D-70173, Stuttgart, Am Hauptbahnhof, 2 SWIFT: SOLADEST</li>
	</ul>
	<p>USD     Сompany Name: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Name of the bank:</p>
	<p>FIRST UKRAINIAN INTERNATIONAL BANK 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Correspondent banks</p>
	<ul>
		<li>JPMorgan Chase Bank N.A.* 270 Park Avenue, NY 10017, New York, United States SWIFT: CHASUS33</li>
		<li>The Bank of New York Mellon 240 Greenwich Street, New York, NY 10286, United States SWIFT: IRVTUS3N</li>
	</ul>
	<p>GBP     Сompany Name: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Name of the bank:</p>
	<p>FIRST UKRAINIAN INTERNATIONAL BANK 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Correspondent banks</p>
	<ul>
		<li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030, Vienna, Austria SWIFT: RZBAATWW</li>
	</ul>
	<p>PayPal</p>
	<p>stepenkopaypal@gmail.com</p>
</div>