
@{
    ViewData["Title"] = "Homepage";
}

<div>Title</div>
<div>Text</div>
<div>Date</div>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item w-50" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
</div>