
@{
    ViewData["Title"] = "Homepage";
}

<div>Title</div>
<div>Text</div>
<div>Date</div>
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade vh-100" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.fman4-1.fna.fbcdn.net/v/t39.30808-6/287058627_125929193449732_854106266848488374_n.jpg?stp=dst-jpg_s600x600&_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=HAg1NGmg89UAX-Ch3BH&_nc_ht=scontent.fman4-1.fna&oh=00_AT9B1BbtcTw-NfDQXDu8Mpy1AnV6gQlOweUmEOieWIeroQ&oe=62AE46A1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/286940304_125929233449728_5766477109203602652_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=DXA9mqPLmQUAX9FQHTU&_nc_ht=scontent.fman4-2.fna&oh=00_AT-84Eo5mK7K_ICE0pu4bW_Iy9-FZbGp2wciyBUdQyKRBw&oe=62AF5C9F" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/287096976_125929230116395_6089542917522893059_n.jpg?stp=dst-jpg_s600x600&_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=LaZmoXrEILQAX8ZE3sT&tn=fgL6Lf3dUNelMLsC&_nc_ht=scontent.fman4-2.fna&oh=00_AT-x3iB1L_ifm7jvYLOa1YTJ24hapBeqB4PK2tsMFmBX4Q&oe=62AF95DC" class="d-block w-100" alt="...">
    </div>
  </div>
</div>