@{
	ViewData["Title"] = "Homepage";
}

<div class="card" onload="getPics()">
	<div class="card-header">Special title treatment</div>
	<div class="card-body">
		<div class="card-text">
			In Mariupol, the Russians finally refused to search for the bodies of those killed under the rubble. They began to demolish buildings
			This was announced by Petro Andryushchenko, adviser to the mayor of Mariupol.
			🔻 According to the adviser, the Left Bank district suffered the most from the shelling of the enemy "Grad" from late February – to early March.
			💬 “We will never know how many Mariupol residents died and remain under these blockages. They will be buried at the Left Bank landfill along with garbage. No words. Only anger, "Andryushchenko added
		</div>
		<div>
			<div class="feed-image-container">
				<img src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/287057443_125729096803075_4310234095164717315_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=VrtamXeM2JcAX8Nm048&_nc_ht=scontent.fman4-2.fna&oh=00_AT8dczKlVxiNbUCLKVRDUDlE1hbcHjqY0PQjvrDj3HAS_g&oe=62B103C4" class="w-100" alt="...">
			</div>
			<div>
				<div class="feed-thumbnail"><img class="myImg" src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/287096976_125929230116395_6089542917522893059_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=LaZmoXrEILQAX8ZE3sT&tn=fgL6Lf3dUNelMLsC&_nc_ht=scontent.fman4-2.fna&oh=00_AT9T2LRRSGfDAN9AnlXgGeCxcYiV6Io7aN80VSbOxAS84Q&oe=62AF95DC" alt="..."></div>
				<div class="feed-thumbnail"><img class="myImg" src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/286940304_125929233449728_5766477109203602652_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=VsFfe6eg-JQAX__wCwu&_nc_ht=scontent.fman4-2.fna&oh=00_AT8Qga9OkHzLLmMe0HIf4R4PMPPai7e0RbQ1Gs2-0APyHw&oe=62B156DF" alt="..."></div>
				<div class="feed-thumbnail"><img class="myImg" src="https://scontent.fman4-1.fna.fbcdn.net/v/t39.30808-6/287147949_125929316783053_5582929333444152524_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=eBL31YNEyhgAX9wIdPH&_nc_ht=scontent.fman4-1.fna&oh=00_AT_Q7P4c9N9Ci2lkTUuEug5R-b-ke0gLxKT-IG5Y9W2EMw&oe=62B01B8A" alt="..."></div>
			</div>
		</div>
		<div class="card-footer w-100 float-start">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header">Special title treatment</div>
	<div class="card-body">
		<div class="card-text">
			In Mariupol, the Russians finally refused to search for the bodies of those killed under the rubble. They began to demolish buildings
			This was announced by Petro Andryushchenko, adviser to the mayor of Mariupol.
			🔻 According to the adviser, the Left Bank district suffered the most from the shelling of the enemy "Grad" from late February – to early March.
			💬 “We will never know how many Mariupol residents died and remain under these blockages. They will be buried at the Left Bank landfill along with garbage. No words. Only anger, "Andryushchenko added
		</div>
		<div>
			<div class="feed-image-container">
				<img src="https://scontent.fman4-1.fna.fbcdn.net/v/t39.30808-6/287058627_125929193449732_854106266848488374_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=HAg1NGmg89UAX-Ch3BH&_nc_ht=scontent.fman4-1.fna&oh=00_AT8GBRMNz0JtAx-yqcRcBM6lLqN5v1TLUc8krTOFezZtFg&oe=62B040E1" class="w-100" alt="...">
			</div>
			<div>
				<div class="feed-thumbnail"><img src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/287096976_125929230116395_6089542917522893059_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=LaZmoXrEILQAX8ZE3sT&tn=fgL6Lf3dUNelMLsC&_nc_ht=scontent.fman4-2.fna&oh=00_AT9T2LRRSGfDAN9AnlXgGeCxcYiV6Io7aN80VSbOxAS84Q&oe=62AF95DC" alt="..."></div>
				<div class="feed-thumbnail"><img src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/286940304_125929233449728_5766477109203602652_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=VsFfe6eg-JQAX__wCwu&_nc_ht=scontent.fman4-2.fna&oh=00_AT8Qga9OkHzLLmMe0HIf4R4PMPPai7e0RbQ1Gs2-0APyHw&oe=62B156DF" alt="..."></div>
				<div class="feed-thumbnail"><img src="https://scontent.fman4-1.fna.fbcdn.net/v/t39.30808-6/287147949_125929316783053_5582929333444152524_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=eBL31YNEyhgAX9wIdPH&_nc_ht=scontent.fman4-1.fna&oh=00_AT_Q7P4c9N9Ci2lkTUuEug5R-b-ke0gLxKT-IG5Y9W2EMw&oe=62B01B8A" alt="..."></div>
			</div>
		</div>
		<div class="card-footer w-100 float-start">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header">Special title treatment</div>
	<div class="card-body">
		<div class="card-text">
			In Mariupol, the Russians finally refused to search for the bodies of those killed under the rubble. They began to demolish buildings
			This was announced by Petro Andryushchenko, adviser to the mayor of Mariupol.
			🔻 According to the adviser, the Left Bank district suffered the most from the shelling of the enemy "Grad" from late February – to early March.
			💬 “We will never know how many Mariupol residents died and remain under these blockages. They will be buried at the Left Bank landfill along with garbage. No words. Only anger, "Andryushchenko added
		</div>
		<div>
			<div class="feed-image-container">
				<img src="https://scontent.fman4-1.fna.fbcdn.net/v/t39.30808-6/287058627_125929193449732_854106266848488374_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=HAg1NGmg89UAX-Ch3BH&_nc_ht=scontent.fman4-1.fna&oh=00_AT8GBRMNz0JtAx-yqcRcBM6lLqN5v1TLUc8krTOFezZtFg&oe=62B040E1" class="w-100" alt="...">
			</div>
			<div>
				<div class="feed-thumbnail"><img src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/287096976_125929230116395_6089542917522893059_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_ohc=LaZmoXrEILQAX8ZE3sT&tn=fgL6Lf3dUNelMLsC&_nc_ht=scontent.fman4-2.fna&oh=00_AT9T2LRRSGfDAN9AnlXgGeCxcYiV6Io7aN80VSbOxAS84Q&oe=62AF95DC" alt="..."></div>
				<div class="feed-thumbnail"><img src="https://scontent.fman4-2.fna.fbcdn.net/v/t39.30808-6/286940304_125929233449728_5766477109203602652_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=VsFfe6eg-JQAX__wCwu&_nc_ht=scontent.fman4-2.fna&oh=00_AT8Qga9OkHzLLmMe0HIf4R4PMPPai7e0RbQ1Gs2-0APyHw&oe=62B156DF" alt="..."></div>
				<div class="feed-thumbnail"><img src="https://scontent.fman4-1.fna.fbcdn.net/v/t39.30808-6/287147949_125929316783053_5582929333444152524_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=eBL31YNEyhgAX9wIdPH&_nc_ht=scontent.fman4-1.fna&oh=00_AT_Q7P4c9N9Ci2lkTUuEug5R-b-ke0gLxKT-IG5Y9W2EMw&oe=62B01B8A" alt="..."></div>
			</div>
		</div>
		<div class="card-footer w-100 float-start">
			<small class="text-muted">Last updated 3 mins ago</small>
		</div>
	</div>
</div>

<div id="fullpage" onclick="this.style.display='none';"></div>


<script>
	function getPics() { } //just for this demo
	const imgs = document.querySelectorAll('.card-body img');
	const fullPage = document.querySelector('#fullpage');

	imgs.forEach(img => {
		img.addEventListener('click', function() {
			fullPage.style.backgroundImage = 'url(' + img.src + ')';
			fullPage.style.display = 'block';
		});
	});
</script>