@{
    ViewData["Title"] = "Needs";
}

<div>
    <h4>Constant needs of the armed forces of Ukraine</h4>
    <p>Another way to help is to buy equipment for the army and send it to the fund. We will send technical equipment, personal protective equipment, and medicines to military units.</p>
    <p>The parcel can be sent to our warehouse. Before sending, contact us at: +380960177075 or write a letter to e-mail: legion.charity@gmail.com</p>
    <ul>
        <li>First aid kit IFAK II</li>
        <li>Tactical medical bags (Fully Stocked)</li>
        <li>Tactical boots like Lowa (seasonal, medium height - 6 ()</li>
        <li>Military uniform kits with waterproof jacket and pants ECWCS GEN III Level 6 PACLITE</li>
        <li>Tactical gloves (5.11, Mechanix, Blackhawk, Helikon, Oakey)</li>
        <li>Tactical belts</li>
        <li>Tactical eyewear and ballistic glasses</li>
        <li>Encrypted Radios with headset</li>
        <li>MOLLE belt & harness</li>
        <li>Bulletproof vests (NIJ III+) US Standart</li>
        <li>Protection level 4-5 (Ukrainian DSTU standard)</li>
        <li>Helmets (The required standard is NIJ level IIIA)</li>
        <li>Shooting Earmuffs (ear protection for shooting)</li>
        <li>rechargeable flashlights</li>
        <li>Thermal imaging monoculars (ARCHER ТМА30М/55М) analog: (detection 1700m +, recognition 430m +, identification 215m +)</li>
        <li>Tactical periscopes UZI 5x20 CR</li>
        <li>Drones: AUTEL EVO II PRO;</li>
        <li>Camera: Yunecc E30Z, CAR EVO II DUAL RUGGED BUNDLE (640T) V2; Walkera Voyager 5</li>
        <li>Phone Power Banks</li>
        <li>Computer Power Banks</li>
        <li>Tactical Backpacks</li>
        <li>Army Ration Packs (dehydrated)</li>
        <li>Tactical Knee & Elbow Pads</li>
    </ul>
    <img src="https://legion-foundation.org/img/supply.jpeg" class="img-fluid" />
</div>
