@{
    ViewData["Title"] = "Our Team";
}

<div>
    <h4>Our team</h4>
    <h5>Founders</h5>
    <p>Project Manager Mykola Stepenko</p>
    <p>Director of the Foundation Alexander Nikiforov</p>
    <h5>Team</h5>
    <ul>
        <li>Volunteer consultant Yuriy Kondratiev</li>
        <li>Media Communications Manager Anna Melnychenko</li>
        <li>Manager in English-speaking countries Adelina Saharova</li>
        <li>Manager in French-speaking countries - Victoria Azarova</li>
    </ul>
</div>













