@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
	ViewData["Title"] = "À propos de nous";

}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">À propos de nous</h4>
		<div class="card-text">
			<p>La Fondation bienfaisance ‘’Legion’’ a été fondée fin avril 2022 à Kyiv. L'activité du fonds vise le soutien logistique des forces armées ukrainiennes et d'autres unités participant aux hostilités, la protection de la population civile, des villes paisibles et de la souveraineté de l'Ukraine. La Fondation ne fournit pas d'armes !</p>
			<p>Nous fournissons des reportages sous forme de matériel vidéo et photographique, de documents et d'actes de transfert.</p>
			<p>Depuis février 2022, lorsque l'armée russe a lancé une invasion à grande échelle de l'Ukraine, le monde entier a compris que la Russie tuait des civils et des enfants. Seuls les défenseurs ukrainiens qui ont besoin de soutien peuvent arrêter les envahisseurs.</p>
			<p>Les partenaires occidentaux nous aident à gagner sur les fronts diplomatiques, économiques et militaires, mais nos défenseurs ont encore besoin d'un soutien logistique. Nous maintenons une communication constante avec l'armée ukrainienne, afin que nous puissions réagir rapidement et répondre à leurs besoins. Les bénévoles de la Fondation bienfaisance ‘’Legion’’, avec l'aide de vos dons, peuvent être un arrière fiable pour nos défenseurs.</p>
			<h5><b><u>En nous aidant, vous sauvez la vie des militaires ukrainiens. On les attend à la maison !</u></b></h5>
		</div>
	</div>
</div>
