@{
	ViewData["Title"] = "L'aide financière";
}

<div>
	<h4>L’ORGANISATION CARITATIVE "FONDATION BIENFAISANCE "LEGION"</h4>
	<p>Adresse postale : 03142, Kyiv-142, PO Box 28 ;</p>
	<p>e-mail: legion.charity@gmail.com:</p>
	<h5><b>ATTENTION : Lors du paiement, veuillez-vous assurer d'indiquer le nom de la fondation bienfaisance et d'indiquer la contribution charitable dans le but du paiement.</b></h5>
	<p>Purpose of payment: <b>Charitable donation</b></p>
	<p>Company Name: <b>CHARITABLE ORGANIZATION: «CHARITY FOUNDATION «LEGION» or CO “CF “Legion”</b></p>
	<p><u>Virements SWIFT</u></p>
	<p>EUR     Nom de l'entreprise: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Nom de la banque:</p>
	<p>PREMIÈRE BANQUE INTERNATIONALE UKRAINIENNE 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Banques correspondantes</p>
	<ul>
		<li>Commerzbank AG, Kaiserplatz, 60261, Francfort-sur-le-Main, Allemagne SWIFT / Code BIC : COBADEFF</li>
		<li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030, Vienne, Autriche SWIFT / Code BIC : RZBAATWW</li>
		<li>Landesbank Baden-Wurttemberg Allemagne, D-70173, Stuttgart, Am Hauptbahnhof, 2 SWIFT / Code BIC : SOLADEST</li>
	</ul>
	<p>USD     Nom de l'entreprise: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Nom de la banque:</p>
	<p>PREMIÈRE BANQUE INTERNATIONALE UKRAINIENNE 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Banques correspondantes</p>
	<ul>
		<li>JPMorgan Chase Bank N.A.* 270 Park Avenue, NY 10017, New York, États-Unis SWIFT / Code BIC : CHASUS33</li>
		<li>La Banque de New York Mellon 240 Greenwich Street, New York, NY 10286, États-Unis SWIFT / Code BIC : IRVTUS3N</li>
	</ul>
	<p>GBP     Nom de l'entreprise: СО «CF «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Nom de la banque:</p>
	<p>PREMIÈRE BANQUE INTERNATIONALE UKRAINIENNE 4, Andriivska Str., Kyiv, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Banques correspondantes</p>
	<ul>
		<li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030, Vienne, Autriche SWIFT / Code BIC : RZBAATWW</li>
	</ul>
	<p>PayPal</p>
	<p>stepenkopaypal@gmail.com</p>
</div>