@{
	ViewData["Title"] = "Besoins permanents";
}

<div>
	<h4>BESOINS PERMANENTS des Forces armées ukrainiennes</h4>
	<ul>
		<li>Trousse de secours IFAK II</li>
		<li>Sacs tactiques médicaux (complets)</li>
		<li>Bottes tactiques comme Lowa (saisonnières, taille moyenne - 6″)</li>
		<li>Uniformes tactiques 5. 11 (plus IMPERMÉABLE)</li>
		<li>Gants tactiques 5.1 1</li>
		<li>Ceinture tactique</li>
		<li>Lunettes tactiques</li>
		<li>Talkie-walkie avec casque</li>
		<li>Système ceinture-lombaire avec taupes (déchargement)</li>
		<li>Gilet pare-balles (classe 4, 5) de protection sur les taupes (NIJ III+)</li>
		<li>Casque balistique avec l’étui (FAST)</li>
		<li>Écouteurs actifs</li>
		<li>Lanternes (avec recharge)</li>
		<li>Caméras thermiques de type (ARCHER TMA30M/55M) ou équivalent : (détection 1700m+, reconnaissance 430m+, identification 215m+)</li>
		<li>Périscopes tactiques UZI 5x20 CR</li>
		<li>Drones : AUTEL EVO II PRO ; appareil photo Yunecc E30Z ; ENSEMBLE DOUBLE ROBUSTE AUTEL EVO II (640T) V2 ; Walkera Voyager 5* AUTEL EVO2</li>
		<li>ENTREPRISE* DJI MAVIC 3 COMBO</li>
		<li>Kits STAR LINK</li>
		<li>Banque d'alimentation pour téléphone</li>
		<li>Banque d'alimentation pour ordinateur portable</li>
		<li>Sac à dos</li>
		<li>Rations alimentaires sèches sublime de l’armée</li>
		<li>Genouillères</li>
		<li>Épaulettes</li>
	</ul>
	<img src="https://legion-foundation.org/img/supply.jpeg" class="img-fluid" />
</div>
