@{
    ViewData["Title"] = "Notre équipe";
}

<div>
    <h4>Notre équipe</h4>
    <h5>Fondateurs de fonds</h5>
    <p>Chef de projet Mykola Stepenko</p>
    <p>Directeur du Fonds Alexander Nikiforov</p>
    <h5>équipe</h5>
    <ul>
        <li>Consultant bénévole - Yurii Kondratiev</li>
        <li>Responsable des communications médias - Anna Melnichenko</li>
        <li>Responsable anglophone - Adelina Sakharova</li>
        <li>Responsable francophone - Victoriia Azarova</li>
    </ul>
</div>













