@{
    ViewData["Title"] = "Véhicules de l'armée";
}

<div>
    <h4>Véhicules de l'armée</h4>
    <p>Désormais, la demande de transport pour les besoins militaires dépasse de loin la capacité de soutien de l'État.</p>
    <p>Voitures:</p>
    <ul>
        <li>augmentent la mobilité des troupes</li>
        <li>améliorent les capacités logistiques des départements</li>
        <li>sauvent les vies des guerriers</li>
    </ul>
    <p>L'armée a besoin de camionnettes diesel, de VUS, de minibus et d'autres types de véhicules. Grâce à vos contributions la Fondation bienfaisance ‘’Legion’’ achètera les véhicules nécessaires aux Forces armées ukrainiennes.</p>
    <img src="https://legion-foundation.org/img/auto.jpeg" class="img-fluid" />
</div>
