@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Our Team"];
}
<div class="row row-cols-1 row-cols-md-4 g-4" onload="getPics()">
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/1.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/2.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/3.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/4.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/5.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/6.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/7.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/Gallery/8.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4" onload="getPics()">
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/1.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/2.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/3.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/4.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/5.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/6.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/7.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/8.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/9.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/10.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/11.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/12.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/13.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/14.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/15.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/16.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/17.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/18.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/19.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/21.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/22.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/23.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/40.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/41.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/42.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/24.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/25.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/27.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/28.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/29.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/30.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/33.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/Gallery/39.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
</div>