@model IEnumerable<LegionWebApp.Models.GalleryItem>
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@inject IViewLocalizer T
@{
	ViewData["Title"] = "Gallery";
}

<div id="gallery-items">
	@await Html.PartialAsync("_GalleryItems", Model)
</div>

<div id="loading-gallery-items">@T["Loading..."]</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>

	<script>
		// Create a new Intersection Observer
		const observer = new IntersectionObserver((entries, observer) => {
			entries.forEach(entry => {
				if (entry.isIntersecting) {
					const img = entry.target;
					const src = img.getAttribute('data-src');
					img.setAttribute('src', src);
					img.classList.add('loaded');

					// Unobserve the element
					observer.unobserve(entry.target);
				}
			});
		}, { threshold: 0.1 });

		// Observe all lazy images
		function observeLazyImages() {
			const lazyImages = document.querySelectorAll('img.lazy:not(.loaded)');
			lazyImages.forEach(img => observer.observe(img));
		}

		// Initial observation
		observeLazyImages();

	</script>

	<script>
		// infiniteScroll function
		function infiniteScroll() {
			if ($(window).scrollTop() == $(document).height() - $(window).height()) {
				//Function goes here
				loadMoreItems();
			}
		}
		$(document).ready(function () {
			// bind the function to all needed events
			$(window).on('scroll', infiniteScroll);
			$(window).on('touchmove', infiniteScroll);
		});


		var currentPage = 1;
		var isLoading = false;
		var galleryUrl = '@Url.Action("Gallery", "Home")';

		function loadMoreItems() {
			if (isLoading) return;

			isLoading = true;
			$('#loading-gallery-items').show();
			currentPage++;

			$.get(galleryUrl + '?page=' + currentPage, function (data) {
				if (data) {
					$('#gallery-items').append(data);

					// Observe new lazy images
					observeLazyImages();

					isLoading = false;

					// Check if all items have been loaded					
					var loadedItems = $('#gallery-items').children().length;
					var totalItems = @ViewBag.TotalItems;
					if (loadedItems === totalItems) {
						$(window).off('scroll'); // Remove the scroll event listener
					}
				}
				$('#loading-gallery-items').hide();
			}, 'html').fail(function (xhr, textStatus, error) {
				// Handle AJAX errors here
				console.error(xhr.responseText);
			}).always(function () {
				isLoading = false;
			});
		}


	</script>

	<script>
		var modalOpen = false;

		$(document).ready(function () {
			hideOverlay();
			$(".media-item").each(function () {
				var mediaItem = $(this);
				var media = mediaItem.find("img, video");
				if (media.prop('tagName') == 'IMG') {
					var img = new Image();
					img.onload = function () {
						var aspectRatio = img.width / img.height;
						if (aspectRatio >= 1) {
							mediaItem.parent().removeClass("col").addClass("col-12 col-sm-6");
						}
					};
					img.src = media.attr('data-src');
				} else if (media.prop('tagName') == 'VIDEO') {
					if (media[0].readyState > 0) {
						var aspectRatio = media[0].videoWidth / media[0].videoHeight;
						if (aspectRatio >= 1) {
							mediaItem.parent().removeClass("col").addClass("col-12 col-sm-6");
						}

					} else {
						media.on('loadedmetadata', function () {
							var aspectRatio = media[0].videoWidth / media[0].videoHeight;
							if (aspectRatio >= 1) {
								mediaItem.parent().removeClass("col").addClass("col-12 col-sm-6");
							}
						});
					}
				}
			});
		});

		function hideOverlay() {
			$('.feed-post').each(function () {
				var mediaItemCount = $(this).find('.media-item').length;
				var hideMediaOverlay = $(this).find('.post-media').attr('data-hide-media-overlay');
				var hiddenCount = mediaItemCount - hideMediaOverlay;

				if (mediaItemCount > hideMediaOverlay) {
					$(this).find('.media-item:gt(' + (hideMediaOverlay - 1) + ')').hide();
					var hiddenCount = mediaItemCount - hideMediaOverlay;
					$(this).find('.media-item').eq(hideMediaOverlay - 1).addClass('count-overlay')
						.append('<div class="count-overlay-text">+' + hiddenCount + '</div>');
				}
			});
		}

		function openModal($media) {
			if ($media.parent().hasClass('mySlides fullpage')) {
				if ($media.is('video')) {
					if ($media[0].paused) {
						$media[0].play();
					} else {
						$media[0].pause();
					}
				}
			} else {
				var $container = $media.closest('.post-media');
				var $child = $container.children(); // row row-cols-2 row-cols-sm-4
				var $childElements = $child.children(); // col
				var $mediaItem = $($childElements.children()); // mediaItem $this

				var modalBefore = '<div id="ModalContent" class="modal">';
				var modalAfter = `</div>`;
				var modalBtns = '<a class="prev" onclick="nextSlides(-1)">&#10094;</a><a class="next" onclick="nextSlides(1)">&#10095;</a><a class="close"></a>';
				$child.append(modalBtns);
				$child.children().wrapAll(modalBefore + modalAfter);
				$("#ModalContent").css('display', 'block');

				$($mediaItem).each(function () {
					$(this).removeClass("media-item count-overlay").addClass("mySlides fullpage").css('display', 'none');
				});
				$media.parent().css('display', 'block');

				var currentSrc = $media.attr('data-src');
				if (currentSrc) {
					var newSrc = currentSrc.replace('/small', '');
					$media.attr('src', newSrc).data('original-src', currentSrc);
				}
				$("html, body").css('overflow', 'hidden');

				$container.find('.count-overlay-text').remove();

				if ($media.is('video')) {
					$media[0].play();
				}
			}
		}

		function closeModal($media) {
			if ($media.is('video')) {
				$media[0].pause();
			}
			var $container = $media.closest('.post-media');
			var $child = $container.children(); // row row-cols-2 row-cols-sm-4
			var $childElements = $child.children(); // col
			if ($media.is('video')) {
				$media[0].pause();
				$media[0].currentTime = 0;
			}

			$child.find('.prev').remove();
			$child.find('.next').remove();
			$child.find('.close').remove();
			var $modalContent = $('#ModalContent');
			$modalContent.children().unwrap();
			$modalContent.remove();

			$child.children().each(function (index, element) {
				$(element).children().removeClass('mySlides fullpage').addClass('media-item').css('display', '');
			});
			$("html, body").css('overflow', '');
			hideOverlay();
		}

		$(document).on('click', '.smallMedia', function () {
			var $media = $(this);

			if (modalOpen) {
				if ($media.is('video')) {
					if ($media[0].paused) {
						$media[0].play();
					} else {
						$media[0].pause();
					}
				} else {
					console.log("closing modal");
					console.log($media);
					closeModal($media);
					modalOpen = false;
				}
			} else {
				openModal($media);
				console.log("opening modal");
				console.log($media);
				modalOpen = true;
			}
		});

		$(document).on('click', '.close', function () {
			var $media = $('.mySlides.fullpage:visible').find('img, video');
			closeModal($media);
			modalOpen = false;
		});

		$(document).on('keydown', function (e) {
			if (e.keyCode === 27) { // Check if the ESC key was pressed
				var $media = $('.mySlides.fullpage:visible').find('img, video');
				closeModal($media);
				modalOpen = false;
			} else if (e.keyCode === 37) { // Left arrow key
				nextSlides(-1);
			} else if (e.keyCode === 39) { // Right arrow key
				nextSlides(1);
			}
		});

		$('.prev').click(function () {
			nextSlides(-1);
		});

		$('.next').click(function () {
			nextSlides(1);
		});

		function handleSwipe() {
			if (touchendX < touchstartX) {
				nextSlides(1);
			} else if (touchendX > touchstartX) {
				nextSlides(-1);
			}
		}

		function nextSlides(n) {
			var slides = $('.mySlides.fullpage');
			var currentSlide = slides.filter(':visible');
			var currentIndex = slides.index(currentSlide);
			var nextIndex = (currentIndex + n + slides.length) % slides.length;
			var nextSlide = slides.eq(nextIndex);
			var currentVideo = currentSlide.find('video');
			var nextVideo = nextSlide.find('video');
			var image = nextSlide.find('img');

			if (image.length > 0) {
				var currentSrc = $(image).attr('data-src');
				if (currentSrc) {
					var newSrc = currentSrc.replace('/small', '');
					$(image).attr('src', newSrc).data('original-src', currentSrc);
				} else {
					var currentSrcLg = $(image).attr('src');
					var newSrc = currentSrcLg.replace('/small', '');
					$(image).attr('src', newSrc).data('original-src', currentSrcLg);
				}
			}

			if (currentVideo.length > 0) {
				currentVideo.get(0).pause();
			}
			if (nextVideo.length > 0) {
				nextVideo.get(0).play();
			}
			currentSlide.hide();
			nextSlide.show();
		}
	</script>
}
