@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Our Team"];
}
<div class="row row-cols-1 row-cols-md-4 g-4" onload="getPics()">
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/1.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/2.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/3.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/4.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/5.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/6.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/7.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<video controls>
				<source src="~/images/8.mp4" type="video/mp4">
			</video>
		</div>
	</div>
</div>

<div class="row row-cols-1 row-cols-md-5 g-4" onload="getPics()">
	<div class="col">
		<div class="card gallery">
			<img src="~/images/1.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/2.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/3.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/4.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/5.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/6.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/7.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/8.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/9.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/10.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/11.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/12.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/13.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/14.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/15.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/16.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/17.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/18.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/19.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	@*	<div class="col">
	<div class="card gallery">
	<img src="~/images/20.jpeg" class="card-img-top" alt="...">
	</div>
	</div>*@
	<div class="col">
		<div class="card gallery">
			<img src="~/images/21.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/22.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/23.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/40.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/41.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/42.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/24.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/25.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	@*	<div class="col">
	<div class="card gallery">
	<img src="~/images/26.jpeg" class="card-img-top" alt="...">
	</div>
	</div>*@
	<div class="col">
		<div class="card gallery">
			<img src="~/images/27.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/28.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/29.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	<div class="col">
		<div class="card gallery">
			<img src="~/images/30.jpeg" class="card-img-top" alt="...">
		</div>
	</div>
	@*	<div class="col">
	<div class="card gallery">
	<img src="~/images/31.jpeg" class="card-img-top" alt="...">
	</div>
	</div>
	<div class="col">
	<div class="card gallery">
	<img src="~/images/32.jpeg" class="card-img-top" alt="...">
	</div>
	</div>*@
	<div class="col">
		<div class="card gallery">
			<img src="~/images/33.jpeg" class="card-img-top" alt="...">
		</div>
	</div>@*
	<div class="col">
	<div class="card gallery">
	<img src="~/images/34.jpeg" class="card-img-top" alt="...">
	</div>
	</div>
	<div class="col">
	<div class="card gallery">
	<img src="~/images/35.jpeg" class="card-img-top" alt="...">
	</div>
	</div>
	<div class="col">
	<div class="card gallery">
	<img src="~/images/36.jpeg" class="card-img-top" alt="...">
	</div>
	</div>
	<div class="col">
	<div class="card gallery">
	<img src="~/images/37.jpeg" class="card-img-top" alt="...">
	</div>
	</div>
	<div class="col">
	<div class="card gallery">
	<img src="~/images/38.jpeg" class="card-img-top" alt="...">
	</div>
	</div>*@
	<div class="col">
		<div class="card gallery">
			<img src="~/images/39.jpeg" class="card-img-top" alt="...">
		</div>
	</div>

</div>