@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Home"];
}

<div id="wardays" class="wardays">
	<h4>Days at war: <input style="background: transparent; border: none; width: 3rem; color: white;" id="counter" value="0"></h4>
</div>

<div class="card border-light mb-3 transparent" style="max-width: 18rem; margin: 5% 0 0 60%;">
	<div class="card-header"><i>Charitable Foundation Legion</i></div>
	<div class="card-body">
		<h4 class="card-title">Our main goal</h4>
		<p class="card-text">Inhabitants of captured territories suffer from the daily brutality of Russian military occupation.</p>
	</div>
</div>

<div class="card border-light mb-3 transparent" style="max-width: 18rem; margin: 0 0 60% 0;">
	<div class="card-header"><i>Charitable Foundation Legion</i></div>
	<div class="card-body">
		<h4 class="card-title">Who we help</h4>
		<p class="card-text">With the help of your donations, the volunteers of the Charitable Foundation “Legion” can become a reliable logistic supplier for our defenders.</p>
	</div>
</div>