@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Home"];
}
<style>
/*	body {
		background: url("/images/soldier-holding-flag.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}*/
</style>
<div id="wardays" class="wardays"><h4>Война идёт <input style="background: transparent; border: none; width: 2.7rem; color: white;" id="counter" value="0"> дней</h4></div>

<partial name="About" />
<partial name="Vehicles" />
<partial name="Needs" />
<partial name="Finance" />
<partial name="Team" />
<partial name="Contact" />