@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Home"];
}
<style>
	.page1 {
		background: url("/images/wallpaper.jpg");
		top: 0;
	}

	.page2 {
		background: url("/images/girl.jpeg");
		top: 100vh;
	}

	.wallpaper {
		height: 100vh;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		position: absolute;
		left: 0;
		padding: 4rem 10rem 10rem 10rem;
	}
</style>
<div class="wallpaper page1"></div>
<div class="wallpaper page2"></div>

<div class="container">
	<div id="wardays" class="wardays">
		<h4>Война идёт <input style="background: transparent; border: none; width: 2.7rem; color: white;" id="counter" value="0"> дней</h4>
	</div>
	<div class="card float-start" style="width:30%; margin: 0 0 0 70%">
		<div class="card-body">
			<div class="card-text">
				24<sup>th</sup> February 2022 the whole world was shocked of treacherous attack from Russia on Ukraine.
			</div>
		</div>
	</div>
	<div class="card float-start" style="width:30%; margin: 4rem 0 0 0">
		<div class="card-body">
			<div class="card-text">
				Every day Russian forces subject the civilian population to looting, physical abuse, torture, deliberate killings, mass rape, including children!
			</div>
		</div>
	</div>
	<div class="card float-start" style="width:30%; margin: 4rem 0 0 70%">
		<div class="card-body">
			<div class="card-text">
				Every day Russian forces subject the civilian population to looting, physical abuse, torture, deliberate killings, mass rape, including children!
			</div>
		</div>
	</div>
	<div class="card float-start" style="width:30%; margin: 4rem 70% 0 0">
		<div class="card-body">
			<div class="card-text">
				Every day Russian forces subject the civilian population to looting, physical abuse, torture, deliberate killings, mass rape, including children!
			</div>
		</div>
	</div>
	<div class="card float-start" style="width:30%; margin: 4rem 0 0 70%">
		<div class="card-body">
			<div class="card-text">
				Every day Russian forces subject the civilian population to looting, physical abuse, torture, deliberate killings, mass rape, including children!
			</div>
		</div>
	</div>
	<div class="card float-start" style="width:30%; margin: 4rem 70% 0 0">
		<div class="card-body">
			<div class="card-text">
				Every day Russian forces subject the civilian population to looting, physical abuse, torture, deliberate killings, mass rape, including children!
			</div>
		</div>
	</div>
	<div class="card float-start" style="width:30%; margin: 4rem 0 0 70%">
		<div class="card-body">
			<div class="card-text">
				Every day Russian forces subject the civilian population to looting, physical abuse, torture, deliberate killings, mass rape, including children!
			</div>
		</div>
	</div>
	<div class="card float-start" style="width:30%; margin: 4rem 70% 0 0">
		<div class="card-body">
			<div class="card-text">
				Every day Russian forces subject the civilian population to looting, physical abuse, torture, deliberate killings, mass rape, including children!
			</div>
		</div>
	</div>
</div>



