@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
	ViewData["Title"] = @T["Home"];
}
<style>
	body {
		height: 100vh;
		background: url("/images/wallpaper.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		/*background-attachment: fixed;*/
	}
</style>

<div id="wardays" class="wardays">
	<h4>Война идёт <input style="background: transparent; border: none; width: 2.7rem; color: white;" id="counter" value="0"> дней</h4>
</div>

<div class="transparent card" style="margin: 5% 0 0 60%;">
	<div class="card-header">Как нам можно помочь</div>
	<div class="card-body">
		<ul>
			<li class="card-text">Финансовые пожертвование</li>
			<li class="card-text">Материальные пожертвование</li>
		</ul>
	</div>

</div>
<div class="transparent card" style="margin-right: 60%;">
	<div class="card-header">What w help</div>
	<div class="card-body">
		<ul>
			<li class="card-text">Financial donations</li>
			<li class="card-text">Product donations</li>
			<li class="card-text">Helping us reaching more people</li>
		</ul>
	</div>
</div>


