@model LegionWebApp.Models.AssignRoleViewModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T
@{
	ViewData["Title"] = "Admin Control Panel";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col">
			<a class="btn btn-success w-100" asp-area="" asp-controller="Admin" asp-action="GalleryCreate">@T["Gallery Create"]</a>
		</div>		
	</div>
</div>