@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@{
	ViewData["Title"] = "Über uns";

}

<div class="card">
	<div class="card-body">
		<h4 class="card-title">Über uns</h4>
		<div class="card-text">
			<p>Die “Legion” Wohltätigkeitsstiftung wurde Ende April 2022 in Kiew gegründet. Die Tätigkeit der Stiftung zielt auf die materialle und technischer Unterstützung der Streitkräfte der Ukraine und anderer Unterabschnitt, die an Feindseligkeiten teilnehmen, zum Schutz der Zivilbevölkerung, friedlicher Städte und der Souveränität der Ukraine. Die Stiftung liefert keine Waffen!</p>
			<p>Wir liefern Berichterstattung in Form von Video- und Fotomaterial, Dokumenten und Übertragungsakten.</p>
			<p>Seit Februar 2022, als die russische Armee eine umfassende Invasion der Ukraine startete, hat die ganze Welt verstanden, dass Russland Zivilisten und Kinder tötet. Nur ukrainische Verteidiger, die Unterstützung brauchen, können die Eindringlinge aufhalten. Ukrainische Soldaten haben bereits ihren Mut, ihre Widerstandsfähigkeit und ihre Professionalität in Kampfhandlungen unter Beweis gestellt, was weltweit Ansehen erlangt hat.</p>
			<p>Westliche Partner helfen uns, an der diplomatischen, wirtschaftlichen und militärischen Fronten zu gewinnen, aber unsere Verteidiger brauchen immer noch logistische Unterstützung. Wir stehen in ständiger Kommunikation mit dem ukrainischen Militär, damit wir schnell reagieren und ihre Bedürfnisse erfüllen können. Freiwillige der “Legion” Wohltätigkeitsstiftung können mit Hilfe Ihrer Spenden ein zuverlässiger Rückhalt für unsere Verteidiger sein.</p>
			<p>Despite ongoing international support from our European and American allies on the diplomatic, economic, and military fronts; the soldiers of Ukraine continue to struggle with material and logistics shortages. The Charitable Foundation Legion is in constant contact with the Ukrainian military, that we can quickly respond when need arises. With the help of your donations, the volunteers of the Charitable Foundation “Legion” can become a reliable logistic supplier for our defenders.</p>
			<h5><b><u>Indem Sie uns helfen, retten Sie das Leben des ukrainischen Militärs. Sie werden zu Hause erwartet!</u></b></h5>
		</div>
	</div>
</div>
