@{
    ViewData["Title"] = "Kontakte";
}

<div>
    <h4>Kontakte</h4>
    <p><b>Telefon:</b> +380960177075</p>
    <p><b>e-mail:</b> legion.charity@gmail.com</p>
    <p><b>Adresse:</b> Kyiv, 45 Peremohy Avenue Subscriber box: 03142, Kyiv-142, post office 28</p>
    <p><b>Unsere sozialen Medien:</b></p>
    <p>Facebook Instagram Twitter</p>
</div>
