@{
	ViewData["Title"] = "Hilfe mit Geld";
}

<div>
	<h4>WOHLTÄTIGE ORGANISATION «CHARITY FOUNDATION «LEGION»</h4>
	<p>Postanschrift: 03142 Kiew -142, Postfach 28 / Поштова адреса: 03142, Київ-142, а/с 28;</p>
	<p>e-mail: legion.charity@gmail.com:</p>
	<h5><b>Achtung! Achten Sie darauf, den Namen der Organisation und den Zweck der Zahlung anzugeben</b></h5>
	<p>Der Zahlungszweck: <b>Wohltätigkeit Spende</b></p>
	<p><u>SWIFT-Überweisungen</u></p>
	<p>EUR     Der Name der Firma: CO «WS «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Der Name der Bank:</p>
	<p>ERSTE UKRAINISCHE INTERNATIONALE BANK St. Andriyivska 4, Kyjiw, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Korrespondenzbanken</p>
	<ul>
		<li>Commerzbank AG, Kaiserplatz, 60261, Frankfurt am Main, Germany SWIFT: COBADEFF</li>
		<li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030,Vienna, Austria SWIFT: RZBAATWW</li>
		<li>Landesbank Baden-Wurttemberg Germany, D-70173, Stuttgart, Am Hauptbahnhof, 2 SWIFT: SOLADEST</li>
	</ul>
	<p>USD     Der Name der Firma: CO «WS «LEGION»</p>
	<p>ID Code: 44899188</p>
	<p>Der Name der Bank:</p>
	<p>ERSTE UKRAINISCHE INTERNATIONALE BANK St. Andriyivska 4, Kyjiw, 04070, Ukraine</p>
	<p>IBAN: UA803348510000000026001177709</p>
	<p>SWIFT BIC: FUIBUA2X</p>
	<p>Korrespondenzbanken</p>
	<ul>
		<li>JPMorgan Chase Bank N.A.* 270 Park Avenue, NY 10017, New York, United States SWIFT: CHASUS33</li>
		<li>The Bank of New York Mellon 240 Greenwich Street, New York, NY 10286, United States SWIFT: IRVTUS3N</li>
	</ul>
    <p>GBP     Der Name der Firma: CO «WS «LEGION»</p>
    <p>ID Code: 44899188</p>
    <p>Der Name der Bank:</p>
    <p>ERSTE UKRAINISCHE INTERNATIONALE BANK St. Andriyivska 4, Kyjiw, 04070, Ukraine</p>
    <p>IBAN: UA803348510000000026001177709</p>
    <p>SWIFT BIC: FUIBUA2X</p>
    <p>Korrespondenzbanken</p>
    <ul>
        <li>Raiffeisen Bank International AG Am Stadtpark, 9, A-1030, Vienna, Austria SWIFT: RZBAATWW</li>
    </ul>
	<p>PayPal</p>
	<p>stepenkopaypal@gmail.com</p>
</div>