@{
    ViewData["Title"] = "Hilfe bei Material und technischer Ausstattung";
}

<div>
    <h4>Hilfe bei Material und technischer Ausstattung</h4>
    <p>Eine andere Möglichkeit, zu helfen, besteht darin, selbst Ausrüstung für die Armee zu kaufen und an die Stiftung zu senden. Technische Ausrüstung, persönliche Schutzausrüstung und Medikamente werden auf Anfrage an Militäreinheiten versandt</p>
    <p>Das Paket kann an unser Lager gesendet werden. Kontaktieren Sie uns vor dem Versenden unter: +380960177075 oder schreiben Sie einen Brief an e-mail: legion.charity@gmail.com</p>
    <ul>
        <li>Verbandskasten IFAK II</li>
        <li>Medizinische taktische Taschen (komplett)</li>
        <li>Taktische Stiefel wie Lowa (saisonal, mittlere Höhe - 6 ″)</li>
        <li>Taktische Uniform-Kits (wasserdichte Jacke + Hose) ECWCS GEN III Level 6 PACLITE</li>
        <li>Taktische Handschuhe (5.11, Mechanix, Blackhawk, Helikon, Oakey)</li>
        <li>Der Gürtel ist taktisch</li>
        <li>Taktische Brille</li>
        <li>Walkie-Talkie mit Headset (HARRIS Falcon III, BAOFENG UV-82)</li>
        <li>MOLLE-Gürtel und Geschirr</li>
        <li>Kugelsichere Westen (NIJ III+) US Standart</li>
        <li>Schutzstufe 4-5 (Ukrainischer DSTU-Standard)</li>
        <li>Ballistischer Helm mit FUTTERAL (FAST)</li>
        <li>aktive Kopfhörer</li>
        <li>Laternen (mit Aufladung)</li>
        <li>Wärmebildkameras Typ (ARCHER TMA30M / 55M) oder analog: (Erkennung 1700m +, Erkennung 430m +, Identifizierung 215m +)</li>
        <li>Taktische Periskope UZI 5x20 CR</li>
        <li>Drohnen: AUTEL EVO II PRO; Yunecc E30Z-Kamera; CAR EVO II DUAL ROBUSTES BUNDLE (640T) V2; Walkera Voyager 5</li>
        <li>Powerbank für Laptop</li>
        <li>Powerbank für Handy</li>
        <li>Rucksack</li>
        <li>sublimierte Trockenration</li>
        <li>Knieschützer</li>
        <li>Ellenbogenschützer</li>
    </ul>
    <img src="https://legion-foundation.org/img/supply.jpeg" class="img-fluid" />
</div>
