@{
    ViewData["Title"] = "Unser Team";
}

<div>
    <h4>Unser Team</h4>
    <h5>Gründer des Fonds</h5>
    <p>Projektmanager Mykola Stepenko</p>
    <p>Direktor der Stiftung Alexander Nikiforov</p>
    <h5>Team</h5>
    <ul>
        <li>Volunteer consultant Yuriy Kondratiev</li>
        <li>Medienkommunikationsmanagerin Manager Anna Melnychenko</li>
    </ul>
</div>













