@{
    ViewData["Title"] = "Autos";
}

<div>
    <h4>Autos für die Armee</h4>
    <p>Derzeit übersteigt die Nachfrage nach Militärtransporten bei weitem die Kapazität der staatlichen Unterstützung.</p>
    <p>Autos:</p>
    <ul>
        <li>erhöhen die Mobilität der Truppen</li>
        <li>verbessern die logistischen Fähigkeiten von Einheiten</li>
        <li>retten das Leben von Soldaten</li>
    </ul>
    <p>Die Armee braucht Diesel-Pickups, SUVs, Kleinbusse und andere Arten von Autos. Für Ihre Beiträge wird die “Legion” Stiftung die notwendigen Transportmittel für die Streitkräfte der Ukraine kaufen.</p>
    <img src="https://legion-foundation.org/img/auto.jpeg" class="img-fluid" />
    <h5><b><u>Auch kleine Beiträge können Leben retten!</u></b></h5>
</div>